.candidate-profile {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-left: 4px solid #0a66c2;  /* Slight highlight to the left */
}

.profile-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
  color: #444;
}

.section-title {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #555;
  border-bottom: 1px solid #d9d9d9;  /* Subtle separator for sections */
  padding-bottom: 10px;
}

.info-item, .experience-detail, .education-detail {
  margin: 10px 0;
  font-size: 16px;
  color: #666;
}

.timeline {
  padding-left: 20px;
  position: relative;
}

.timeline-item {
  padding: 20px 0;
  position: relative;
  margin: 20px 0;
  border-top: 1px solid #d9d9d9;
}

.timeline-marker {
  left: -20px;
}

.marker {
  background: #0a66c2;
}

.timeline-content {
  padding-left: 25px;
}

.experience-content, .education-content {
  border-left: 2px solid #0a66c2;
}

.timeline-item:hover {
  background: #f1f1f1;
}


.profile-image {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;  /* Set to relative for potential pseudo-elements or child positioning */
}

.profile-image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Adding outer shadow */
  z-index: -1;  /* Placing it below the main image */
}

.profile-image app-image-download img {
  max-width: 200px; /* Control the maximum width of the profile image */
  width: 100%;  /* Ensuring the image is responsive */
  height: auto;
  border: 3px solid #0a66c2;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); /* Enhanced shadow for depth perception */
  transition: transform 0.3s ease-in-out; /* Smooth transition effect for hover */
}

.profile-image:hover app-image-download img {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.profile-image app-image-download .btn-download {
  background: #0a66c2;
  position: absolute;  /* Positioning it at the bottom of the image */
  bottom: -10px;  /* Adjust this value as per your requirements */
  left: 50%;
  transform: translateX(-50%);  /* Centering the button with respect to the image */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);  /* Shadow to elevate the button */
}

.profile-image app-image-download .btn-download:hover {
  background: #084a8a;
}
